@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-Regular.ttf); 
}
@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-SemiBold.ttf);
}
@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost-Bold.ttf);
}